////////////////////////////////////////////////////////////////////////////////
// Buttons
////////////////////////////////////////////////////////////////////////////////

.btn {
    @include border-radius(4px);
    @include font-size(16);
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: $main-font;
    font-weight: 400;
    letter-spacing: .25px;
    padding: $gutter $gutter-double;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}

.btn--primary {
    background: $blue;
    color: $white;

    &:hover {
        background: $blue-d-1;
        color: $white;
    }

    &:focus {
        @include box-shadow(inset 0 0 0 2px rgba(black, .15));
        background: $blue-d-1;
    }

    &:active {
        @include box-shadow(inset 0 1px 0 1px rgba(black, .15));
        background: $blue-d-2;
    }
}

.btn--secondary {
    background: $grey-l-3;
    color: $grey-d-2;

    &:hover {
        background: $grey-d-1;
        color: $white;
    }

    &:focus {
        @include box-shadow(inset 0 0 0 2px rgba(black, .15));
        color: $white;
        background: $grey-d-2;
    }

    &:active {
        @include box-shadow(inset 0 1px 0 1px rgba(black, .15));
        color: $white;
        background: $grey-d-2;
    }
}

.btn--warning {
    @include box-shadow(inset 0 0 0 1px rgba(black, .15));
    background: $red;
    color: $white;

    &:hover {
        background: $red-d-1;
        color: $white;
    }

    &:focus {
        @include box-shadow(inset 0 0 0 2px rgba(black, .15));
        color: $white;
        background: $red-d-1;
    }

    &:active {
        @include box-shadow(inset 0 1px 0 1px rgba(black, .15));
        color: $white;
        background: $red-d-1;
    }
}

.btn--block {
    text-align: center;
    display: block;
    width: 100%;
}

.btn--small {
    @include font-size(14);
    padding: 10px $gutter;
}

.btn--social {
    @include font-size(12);
    position: relative;
    padding: $gutter $gutter $gutter $gutter * 4;
    margin-bottom: 0;

    &:before {
        @include font-size(18);
        text-align: center;
        border-right: 1px solid rgba($white, .2);
        line-height: 56px;
        font-family: "Material Design Icons";
        font-weight: normal;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 45px;
    }
}

.btn--social--facebook {
    background: #3b5998;
    color: $white;

    &:before {
        content: mdi("facebook");
    }

    &:hover {
        background: tint(#3b5998, 10);
    }
}

.btn--social--google {
    background: #db4437;
    color: $white;

    &:before {
        content: mdi("google");
    }

    &:hover {
        background: tint(#db4437, 10);
    }
}
