{% extends 'base.html' %}
{% load wagtailcore_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% include "partials/page_title.html" %}
<div class="container">
    <div class="row">
        <div class="well">
      {{page.intro|richtext}}
 </div>
    </div>
</div>
<div class="container">
    <div class="grid">
        <div class="s-12 m-4 l-4">

            <form action="{% pageurl self %}" method="POST">
             {% csrf_token %}
             {{ form.as_p }}
            <input type="submit" class="btn btn-success btn--small">
        </form>
        </div>
    </div>
</div>
{% endblock content %}