{% load static woyd_tags %}

<section class="site-bottom">
<div class="container">
<div class="grid">
    <div class="s-12 last">
        <nav class="site-bottom__sociallinks">
            {% include 'partials/sociallinks.html' %}
        </nav>
    </div>
</div>
</div>
</section>

</main>

<footer class="site-footer">
<div class="container">
<div class="grid">
    <div class="s-12 last">
        <p> Community Advancement Programme (CAP) &copy; {% now "2010-Y" %} | All rights reserved
        </p>
    </div>
</div>
</div>
</footer>
