<a href="{{ settings.woyd.SocialMediaSettings.facebook }}">
    <i class="mdi mdi-facebook"></i>
</a>
<a href="{{ settings.woyd.SocialMediaSettings.twitter }}">
    <i class="mdi mdi-twitter"></i>
</a>
<a href="{{ settings.woyd.SocialMediaSettings.youtube }}">
    <i class="mdi mdi-youtube-play"></i>
</a>
<a href="{{ settings.woyd.SocialMediaSettings.instagram }}">
    <i class="mdi mdi-instagram"></i>
</a>
<a href="{{ settings.woyd.SocialMediaSettings.pinterest }}">
    <i class="mdi mdi-pinterest"></i>
</a>
