{% load comments i18n %}
<div class="container">
    <div class="grid">
        <div class="s-12">
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
              {% if field.errors %} class="error"{% endif %}
              {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
      </p>
    {% endif %}
  {% endfor %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <input type="submit" name="post" class="btn btn-secondary" value="{% trans " Post" %}"/>
        <input type="submit" name="preview" class="btn btn-secondary" value="{% trans " Preview" %}"/>
    </div>
    </div>
    </div>
</div>
</form>