{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Preview your comment" %}{% endblock %}
{% block content %}
<div class="container">
    <div class="grid">
        <div class="s-12">
            {% load comments %}
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}
      <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
    {% if form.errors %}
      <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
      <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
        {% trans "and" %} <input type="submit" name="submit" class="btn btn-secondary" value="{% trans "Post your comment" %}"
                                 id="submit"/> {% trans "or make changes" %}:
      </p>
    {% endif %}
    {% for field in form %}
      {% if field.is_hidden %}
        <div>{{ field }}</div>
      {% else %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        <p
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        </p>
      {% endif %}
    {% endfor %}
    <div class="btn-group" role="group" aria-label="Basic example">
  <input type="submit" name="post" class="btn btn-secondary" value="{% trans "Post" %}"/>
    <input type="submit" name="preview" class="btn btn-secondary" value="{% trans "Preview" %}"/>
</div>
  </form>
        </div>
    </div>
</div>

{% endblock %}