{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

{% include "partials/page_title.html" %}

<section class="blog-post-meta">
    <div class="container">
    <div class="grid">
    <div class="s-12 last">
        <p class="blog-post-meta__date">{{ page.date }}</p>
    </div>
    </div>
    </div>
</section>

<div class="container">
<div class="grid">
<div class="s-12 last">

    {% if page.main_image %}
        {% image page.main_image width-1200 %}
    {% endif %}

    <section class="blog-post-content">
        {{ page.body|richtext }}
    </section>

</div>
</div>
</div>

{% endblock %}
